// ----- Section About ----- //

.section-about {
  background-color: $color-light-grey-1;
  padding: 12.5rem 0 5rem;
  margin-top: -20vh;
}

@media (min-width: 1500px) {
  /* Changing root size to change all sizes on large screens */
  html {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  /* Changing root size to change all sizes on large screens */
  html {
    font-size: 8px;
  }
}
