// ----- Section About ----- //

.section-about {
  background-color: $color-light-grey-1;
  padding: 15rem 0 10rem;
  margin-top: -20vh;
}

.section-features {
  transform: skewY(-7deg);
  margin-top: -10vh;
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: top;

  & > * {
    transform: skewY(7deg);
  }
}

@media (min-width: 1500px) {
  /* Changing root size to change all sizes on large screens */
  html {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  /* Changing root size to change all sizes on large screens */
  html {
    font-size: 8px;
  }
}
